body {
  left-padding: 55px;
  background-color: grey;
}
.Paper {
  width: 85%;
  background-color: white;
  color: black;
  margin: auto;
  padding: 25px;
}

#sep {
  border-bottom: 1px, gray, solid
}

.secret {
  color: #1f1f1f
}

.secret::selection {
  color: gray;
}
