body {
  font-family: 'Bradley Hand', cursive;
  left-padding: 55px;
  background-color: grey;
}
.Paper {
  width: 85%;
  background-color: white;
  color: black;
  margin: auto;
  padding: 25px;
}

h1.title {
  text-align: right;
}
