body {
  font-family: 'Bradley Hand', cursive;
  left-padding: 55px;
  background-color: grey;
}
.Paper {
  width: 85%;
  background-color: white;
  background: url('images/Clipboard icon.png') middle center;
  color: black;
  margin: auto;
  padding: 25px;
}
